attrs==21.4.0
boto3==1.24.32
botocore==1.27.32
CacheControl==0.12.11
cachetools==5.2.0
certifi==2022.6.15
charset-normalizer==2.1.0
click==8.1.3
cycler==0.11.0
Cython==0.29.30
docutils==0.16
firebase-admin==5.2.0
fonttools==4.34.4
google-api-core==2.8.2
google-api-python-client==2.53.0
google-auth==2.9.1
google-auth-httplib2==0.1.0
google-cloud-core==2.3.2
google-cloud-firestore==2.6.0
google-cloud-storage==2.4.0
google-crc32c==1.3.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.4
greenlet==1.1.2
grpcio==1.47.0
grpcio-status==1.47.0
httplib2==0.20.4
idna==3.3
imageio==2.19.5
invoke==1.7.1
jmespath==1.0.1
jsonschema==3.2.0
kiwisolver==1.4.4
lxml==4.9.1
matplotlib==3.5.2
msgpack==1.0.4
multidict==6.0.2
networkx==2.8.5
numexpr==2.8.3
numpy==1.23.1
packaging==21.3
pamqp==2.3.0
pandas==1.4.3
peewee==3.15.1
pgpasslib==1.1.0
Pillow==9.2.0
progressbar2==3.55.0
prompt-toolkit==3.0.30
proto-plus==1.20.6
protobuf==3.20.1
psutil==5.9.1
psycopg2==2.9.3
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybars3==0.9.7
pybind11==2.10.0
pyerfa==2.0.0.1
Pygments==2.12.0
pyinotify==0.9.6
PyMeta3==0.5.1
pymodbus==2.5.3
pyparsing==3.0.9
pyrsistent==0.18.1
pyserial==3.5
python-dateutil==2.8.2
python-utils==3.3.3
pytz==2022.1
PyWavelets==1.3.0
PyYAML==6.0
quickjs==1.19.2
reportlab==3.6.11
requests==2.28.1
rsa==4.8
s3transfer==0.6.0
scipy==1.8.1
semantic-version==2.10.0
sep==1.2.1
Shapely==1.8.2
simpleeval==0.9.12
simplification==0.5.22
six==1.16.0
SQLAlchemy==1.4.39
tifffile==2022.5.4
tornado==6.2
uritemplate==4.1.1
urllib3==1.26.10
wcwidth==0.2.5
yarl==1.7.2
zc.lockfile==2.0
